#!/bin/sh

BOT_NAME='djcat'
KEEPALIVE_URL='http://localhost'
SLACK_TOKEN='xxx'
SLACK_ROOM='general'

# export HUBOT_ADAPTER=slack
export HUBOT_NAME=$BOT_NAME
export HUBOT_SLACK_TOKEN=$SLACK_TOKEN
export HUBOT_HEROKU_KEEPALIVE_URL=$KEEPALIVE_URL
export HUBOT_SLACK_ROOM=$SLACK_ROOM
./bin/hubot
